.background {
    background-image: url("./components/bg.jpg");
    background-size: cover;
    
}

.h1 {
    text-align: center;
}
.MovieCardWrapper {
    display:flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.MovieCard {
    flex-basis: 15%;
    padding: 5px;
}

.MovieCard--poster img {
    height: auto;
    width: 100%;
   
}

.MovieCard--poster img:hover {
    box-shadow: 0 10px 10px black;
    transform: scale(1.05);
    transition: transform 300ms ease;
}


