@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lilita+One&display=swap');

.background {
    background: rgb(201,217,185);
    background: radial-gradient(circle, rgba(201,217,185,1) 19%, rgba(172,190,231,1) 46%, rgba(3,55,98,1) 92%);
}

.MovieCardWrapper {
    display:flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 0 auto;
}



.MovieCard {
    flex-basis: 18%;
    padding: 5px;
}

.MovieCard--poster img {
    height: auto;
    width: 100%;
   
}

.MovieCard--poster img:hover {
    box-shadow: 0 10px 10px black;
    transform: scale(1.05);
    transition: transform 300ms ease;
}

.MoviePage--background {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.MoviePage--title {
    color: white;
    font-family: 'Irish Grover', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #0B0B45;
}

.MoviePage--content {
    color: white;
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    margin: 60px;
    margin-top: -40px;
    text-shadow: 3px 3px #0B0B45;
}


